<a href="@Url.Action("Giohang","Giohang")" style="color:black;font-weight:bold;text-decoration:none;">
    <img src="~/images/giohang.gif" style ="width: 50px;height:50px">(@ViewBag.Tongsoluong)
</a>
